@using Entidades;
@model Alumno
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Estados</h4>
    <hr />
    <div class="form-group">
        @Html.Label("id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("id", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("nombre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("nombre", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("primerApellido", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("primerApellido", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("segundoApellido", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("segundoApellido", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("correo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("correo", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("telefono", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("telefono", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("fechaNacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("fechaNacimiento", new { htmlAttributes = new { @class = "form-control", @Type = "Date" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("curp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("curp", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("sueldo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("sueldo", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("idEstadoOrigen", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("idEstadoOrigen", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("idEstadoOrigen", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idEstadoOrigen", new SelectList(((List<Estado>)ViewData["Estados"]).ToList(), "id", "nombre"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idEstadoOrigen, "", htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("idEstatus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idEstatus", new SelectList(((List<EstatusAlumno>)ViewData["Estatus"]).ToList(), "id", "nombre"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idEstatus, "", htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Regresar a Indice", "Index", "Razor")
</div>
